h1{
    text-align: center;
    background-color: rgb(206, 140, 54);
    color: rgb(120, 115, 197);
}
   
.uld{
   background-color: rgb(122, 130, 231);
   padding: 12px;
   margin: 14px;
   border-radius: 20px;
   border-bottom: 12px;
   text-align: center;
    

}
.bhai{
    margin-left: 70px;
    margin-top: 30px;
    width: 900px;
    border-color: rgb(241, 12, 23);
    border-radius: 7px;
    
    
   
    
}
.light{
    margin-left: 200px;
}

.lights{
    margin-left:150px ;

}
.kk{
    margin-right: 1000px;
}
.kkk{
margin-top: 30px;
border-color: rgb(73, 245, 5);
}
 
 .ff{
    width: 100%px;
    height: 400px;
 }
 /* Add your styling for the footer here */
.footer {
    text-align: center;
    background-color: #1a1919;
    padding: 150px;
  }
  
  .footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  .footer img {
    width: 30px;
    height: 25px;
  }
  h6{
    text-align: center;
    padding: 10px;
    color: rgb(247, 248, 249);
    
  }
  h5{
    text-align: center;
    padding: 20px;
    color: rgb(249, 250, 251);
  }
  
